<!-- index.hbs -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./css/Footer-Basic.css">
<link rel="stylesheet" href="./css/Navigation-Clean.css">
<link rel="stylesheet" href="./css/styles.css">
<nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: #222222;">
        <div class="container"><a class="navbar-brand" href="/" style="font-weight: bold;color: var(--bs-cyan);font-style: italic;">DJ's MP3's</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="/" style="color: var(--bs-purple);font-weight: bold;font-style: italic;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/customers" style="color: #465765;font-weight: bold;font-style: italic;">customers</a></li>
                    <li class="nav-item"><a class="nav-link" href="orders.html" style="color: #465765;font-weight: bold;font-style: italic;">orders</a></li>
                    <li class="nav-item"><a class="nav-link" href="albums.html" style="color: #465765;font-weight: bold;font-style: italic;">albums</a></li>
                    <li class="nav-item"><a class="nav-link" href="artists.html" style="color: #465765;font-weight: bold;font-style: italic;">artists</a></li>
                    <li class="nav-item"><a class="nav-link" href="tracks.html" style="color: #465765;font-weight: bold;font-style: italic;">tracks</a></li>
                    <li class="nav-item"><a class="nav-link" href="download_items.html" style="color: #465765;font-weight: bold;font-style: italic;">download_items</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="m-auto">DJ's MP3's Admin Center</h1>
    <div class="row m-auto" style="margin: 0px;">
        <div class="col">
            <div class="card-group">
                <div class="card m-auto" style="margin: 0;">
                    <div class="card-body m-auto">
                        <h4 class="card-title">customers</h4>
                        <p class="card-text">Table containing customer details</p><a class="btn btn-primary" role="button" style="background: var(--bs-indigo);" href="/customers">Manage Customers</a>
                    </div>
                </div>
                <div class="card m-auto">
                    <div class="card-body m-auto">
                        <h4 class="card-title">orders</h4>
                        <p class="card-text">Table containing details about orders</p><a class="btn btn-primary" role="button" style="background: var(--bs-indigo);" href="orders.html">Manage Orders</a>
                    </div>
                </div>
                <div class="card m-auto">
                    <div class="card-body m-auto">
                        <h4 class="card-title">albums</h4>
                        <p class="card-text">Table containing details about albums</p><a class="btn btn-primary" role="button" style="background: var(--bs-indigo);" href="albums.html">Manage albums</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-auto">
        <div class="col">
            <div class="card-group m-auto">
                <div class="card m-auto">
                    <div class="card-body m-auto">
                        <h4 class="card-title">artists</h4>
                        <p class="card-text">Table containing details about artists</p><a class="btn btn-primary" role="button" style="background: var(--bs-indigo);" href="artists.html">Manage artists</a>
                    </div>
                </div>
                <div class="card m-auto">
                    <div></div>
                    <div class="card-body m-auto">
                        <h4 class="card-title">tracks</h4>
                        <p class="card-text">Table containing details about tracks</p><a class="btn btn-primary" role="button" style="background: var(--bs-indigo);" href="tracks.html">Manage tracks</a>
                    </div>
                </div>
                <div class="card m-auto">
                    <div class="card-body m-auto">
                        <h4 class="card-title">download_items</h4>
                        <p class="card-text">Table containing details about download_items</p><a class="btn btn-primary" role="button" style="background: var(--bs-indigo);" href="download_items.html">Manage download_items</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-basic">
        <p class="text-center copyright">DJ's MP3's © 2021</p>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
